[submodule "extension/view"]
	path = extension/view
	url = https://github.com/arsaga-partners/AndroidViewExtensions.git
[submodule "extension/viewModel"]
	path = extension/viewModel
	url = https://github.com/arsaga-partners/AndroidViewModelExtensions.git
[submodule "extension/gateway"]
	path = extension/gateway
	url = https://github.com/arsaga-partners/AndroidGatewayExtensions.git
[submodule "extension/repository"]
	path = extension/repository
	url = https://github.com/arsaga-partners/AndroidRepositoryExtensions.git
[submodule "extension/compose"]
	path = extension/compose
	url = git@github.com:arsaga-partners/AndroidComposeExtension.git
[submodule "extension/repositoryFlow"]
	path = extension/repositoryFlow
	url = git@github.com:arsaga-partners/AndroidRepositoryFlowExtensions.git
